<h1><%= @ship.name %></h1>
<ul>
  <li>
    <label>Attack: </label>
    <%= @ship.attack %>
  </li>
  <li>
    <label>Hull: </label>
    <%= @ship.hull %>
  </li>
  <li>
    <label>Shields: </label>
    <%= @ship.shields %>
  </li>
  <li>
    <label>Agility: </label>
    <%= @ship.agility %>
  </li>
</ul>