<nav class="bg-gray-800 p-2 mt-0 w-full fixed z-10 top-0">
  <div class="container mx-auto flex flex-wrap items-center">
    <div class="flex w-full md:w-1/2 justify-center md:justify-start text-white font-extrabold">
      <a class="text-white no-underline hover:text-white hover:no-underline" href="#">
        <span class="text-2xl pl-2"><i class="em em-grinning"></i>X-Wing Squad Builder</span>
      </a>
    </div>

    <div class="flex w-full pt-2 content-center justify-between md:w-1/2 md:justify-end">
      <ul class="list-reset flex justify-between flex-1 md:flex-none items-center">
        <li><%= link_to "ships", ships_path, class: nav_controller_class('ships') %></li>
        <% if user_signed_in? %>
          <li><%= link_to "collection", collection_path, class: nav_controller_class('collections') %></li>
        <% end %>
      </ul>

      <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">

        <div class="ml-3 relative">
          <div id="profile">
            <% if user_signed_in? %>
              <span class="inline-block py-2 px-4 text-white"><%= current_user.email %></span>
              <%= button_to "logout", destroy_user_session_path, method: :delete, form_class: "inline-block py-2 px-4 text-white" %>
            <% else %>
              <%= link_to "login", new_user_session_path, class: "text-orange-500" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>


  </div>

</nav>