<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>X-Wing Hanger</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>

<body>
<main class="container mx-auto mt-28 px-5">
  <div id="profile">
    <% if user_signed_in? %>
      <%= current_user.email %> : <%= button_to "logout", destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to "login", new_user_session_path %>
    <% end %>
  </div>
  <nav>
    <ul>
      <li><%= link_to "ships", ships_path %></li>
      <% if user_signed_in? %>
        <li><%= link_to "collection", collection_path %></li>
      <% end %>
    </ul>
  </nav>
  <%= yield %>
</main>
</body>
</html>
